coverage/
node_modules/
npm-debug.log
local.json
output/
logs/
CCS141/
.idea
imperative.iml
npm-shrinkwrap.json
__tests__/__integration__/hello_world/package-lock.json
__tests__/__integration__/imperative/jest-stare

## Sonar ignores
.scannerwork/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
imperative_debug.log

!/.idea/runConfigurations/
!/.idea/artifacts/
/.idea/dictionaries/
/gui/BrightSide-win32-x64/
typings/
/gui/BrightSide-linux-x64/
/gui/BrightSide-darwin-x64/
/brightside.iml
/config/
/__tests__/tmpproj/
/__tests__/src/locales
/.nyc_output
/__tests__/brightproject/
/.brightside/
/__tests__/resources/properties/**
!/__tests__/resources/properties/default_properties.yaml
/__tests__/tmpprofile/
/src/experimental
/src/experimental.txt
/src/experimental.ts
/.testHomeDir/
/packages/cmd/__tests__/experimental/
/.experimental/
/doc/tsdoc/
/lib/
__tests__/src/packages/plugins/suites/sample-plugin.json
__tests__/src/plugins/suites/sample-plugin.json
/__tests__/__integration__/hello_world/lib/
/__tests__/__integration__/hello_world/node_modules/
/__tests__/__integration__/rest/lib/
/__tests__/__integration__/rest/node_modules/
/__tests__/__integration__/cmd/lib/
/__tests__/__integration__/cmd/node_modules/
/__tests__/__integration__/imperative/lib/
/__tests__/__integration__/imperative/node_modules/
/__tests__/__integration__/imperative/__tests__/__results__/
/__tests__/__results__/

## Including imperative symbolic link for testing purposes
!/__tests__/src/packages/imperative/plugins/test_cli/node_modules/
/__tests__/src/packages/imperative/plugins/test_cli/node_modules/**
!/__tests__/src/packages/imperative/plugins/test_cli/node_modules/@zowe/
/__tests__/src/packages/imperative/plugins/test_cli/node_modules/@zowe/**
!/__tests__/src/packages/imperative/plugins/test_cli/node_modules/@zowe/imperative

